<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @helper.name %>
</p>

<p>
  <strong>District:</strong>
  <%= @helper.district %>
</p>

<p>
  <strong>Time:</strong>
  <%= @helper.time %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @helper.urgent %>
</p>

<p>
  <strong>Old:</strong>
  <%= @helper.old %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @helper.hobby %>
</p>

<p>
  <strong>Selfintoroduction:</strong>
  <%= @helper.selfintoroduction %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @helper.personality %>
</p>

<p>
  <strong>Raisingchild:</strong>
  <%= @helper.raisingchild %>
</p>

<p>
  <strong>Keepdog:</strong>
  <%= @helper.keepdog %>
</p>

<p>
  <strong>Cook:</strong>
  <%= @helper.cook %>
</p>

<%= link_to 'Edit', edit_helper_path(@helper) %> |
<%= link_to 'Back', helpers_path %>
