<!DOCTYPE html>
<html>
<head>
  <title>Urgentmama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
  　<nav class="navbar navbar-default navbar-fixed-top">
    <ul>
      <li><%= link_to 'トップページ', root_path %></li>
      <li><%= link_to 'ヘルパー登録', new_helper_path %></li>
      <li><%= link_to 'お願いする', new_service_path %></li>
      <li><a href="#">助ける</a></li>

          <% if user_signed_in? %>
          　　<li><%= link_to 'マイページ', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
  　  </ul>
  　 </nav>

  </header>

<%= yield %>

<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <p>運営会社 URGENTMAMA</p>
  <p>© 2017-2018 Copyright URGENTMAMA Corp.</p>
  </nav>
  
</footer>

</body>
</html>
